.postFormModal,
.draftModalBackdrop {
  background-color: var(--transparent-modal);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.postForm,
.draftModal {
  border-radius: 10px;
  min-width: 25rem;
  border: 1px var(--border-settings);
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  padding: 0.5rem;
  gap: 0.5rem;
  button {
    padding: 0.25rem;
  }
  textarea {
    resize: none;
    min-width: 0;
    background-color: transparent;
    border: none;
  }
}
.postFormBody,
.postFormHeader,
.postFormFooter,
.draftModalHeader,
.draftModalList,
.draftCard,
.draftCardHeader {
  display: flex;
}
.draftModal {
  padding: 0;
}
.draftModalHeader {
  padding: 0.5rem 1rem;
}
.draftModalList {
  background-color: var(--background);
  padding: 1rem;
}
.draftCard {
  flex-direction: column;
  background-color: var(--elevatedSurface);
}
.draftCardHeader,
.draftModalHeader {
  justify-content: space-between;
}
.draftModalList {
  list-style: none;
  flex-direction: column;
}
.postFormBody {
  gap: 0.5rem;
  align-items: start;
  img,
  textarea {
    flex-grow: 1;
  }
}
.postFormHeader {
  justify-content: space-between;
  div {
    display: flex;
    gap: 0.5rem;
  }
}
.postFormFooter {
  justify-content: space-between;
  div {
    display: flex;
    gap: 0.5rem;
  }
  button {
    padding: 0;
    height: fit-content;
    width: fit-content;
  }
}
