.userDetail ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 0.5rem;
}
.userStats {
  display: flex;
  gap: 0.5rem;
}
.banner {
  width: 100%;
  min-height: 5rem;
  background-color: grey;
}
.userHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0.5rem;
}
.userHeader .iconLarge {
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
}
.userProfile button {
  padding: 0.25rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
}
