html,
body,
#root {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  margin: 0 auto;
}
#app > * {
  overflow-y: scroll;
}
.leftNavigation,
.rightNavigation {
  padding: 1rem;
  min-width: fit-content;
}
.leftNavigation button {
  display: flex;
  gap: 0.25rem;
  padding: 0 0.5rem;
  min-width: 100%;
  min-height: 2rem;
  margin: 0.5rem 0;
}
.iconList {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  gap: 0.5rem;
}
.iconList a {
  display: flex;
  justify-self: left;
  align-self: flex-start;
  width: 100%;
}
.iconList img {
  max-width: 1.5rem;
  @media (max-width: 500px) {
    min-width: 50%;
    align-self: center;
    justify-self: center;
  }
}
.iconText {
  @media (max-width: 500px) {
    display: none;
  }
}
.iconSmall {
  max-width: 1.5rem;
}
.iconLarge {
  max-width: 3rem;
}
.signupWrapper,
.loginWrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 0.5rem;
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
main {
  min-width: 50%;
  border: var(--border-settings);
  border-width: 0 1px 0 1px;
  padding: 0.5rem;
}
main header {
  border: var(--border-settings);
  border-width: 0 0 1px 0;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
