html,
body,
#root {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  margin: 0 auto;
}
#app > * {
  border: solid white;
  border-width: 0 1px 0 1px;
  overflow-y: scroll;
}
.leftNavigation button {
  display: flex;
  gap: 0.25rem;
  padding: 0 0.5rem;
  min-width: 100%;
  min-height: 2rem;
  margin: 0.5rem 0;
}
.iconList {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.iconList {
  list-style-type: none;
}
.iconList a {
  display: flex;
  justify-self: left;
  align-self: flex-start;
  width: 100%;
}
.iconList img {
  max-width: 1.5rem;
}
.iconText {
  @media (max-width: 500px) {
    display: none;
    max-width: 3rem;
  }
}
