.postLink {
  color: inherit;
  text-decoration: none;
}
.postLink:hover {
  text-decoration: none;
  color: inherit;
}
.postLink .postAuthor:hover {
  text-decoration: underline;
}
.postCard {
  background-color: var(--surface);
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  max-width: 30rem;
  border-radius: 5px;
  button {
    padding: 0.1rem;
  }
}
.postHeader,
.postBody,
.postUI,
.replyPreview {
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.postUI {
  justify-content: space-between;
}
.postCardDetail span,
.postCardDetail,
.postUI button {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.replyPreview {
  border: var(--border-settings);
  border-width: 0 0 1px 0;
}
